form {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0
}

ul {
  list-style: none;
  font-size: 1rem;
}

li {
  margin: 3vh 0;
  border-bottom: 1px solid black;
}

img {
  width: 8rem;
  height: auto;
  margin-right: 1vw;
}

button {
  font-size: 1rem;
  border-radius: 100vmax;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  margin-bottom: 2vh;

}

button:hover {
  color: white;
  background-color: black;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  font-size: 2.5rem;
  min-height: 100vh;
}

.user__p {
  margin: 10vh 0 2vh;
}

.user input {
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid black;
  width: fit-content;
  text-align: center;
}

input:focus {
  outline: none !important;
  background: linear-gradient(#ffcb11, #fff9e5);
}

.add__files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;
}

.chosen__user {
  margin: 5vh 0 1vh;
  font-size: 1.5rem;
}

.chosen__user span {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ffcb11;
  font-weight: 900;
}

.li__content {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1vh;
  font-size: 1.5rem;

}